<h1 class="center">Obtain membership</h1>
<% if(locals.error){ %>
<div><%=error %></div>
<% } %>
<form class="log-in-form membership-form" action="/membership" method="post">
  <label for="passphrase">Enter passphrase</label>
  <input type="text" id="passphrase" name="passphrase" />
  <button class="submit-btn round-btn" type="submit">Enter</button>
  <div type="button" class="round-btn tooltip hint" popovertarget="hint">
    Show hint
    <div class="tooltip tooltiptext">
      It is unarguably the best programming lanaugage
    </div>
  </div>
</form>
