<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubhouse homepage</title>
  </head>
  <body>
    <%-include('partials/header') %> <% switch(page){ case 'home': %>
    <%-include('partials/home') %> <% break; case 'sign-up': %>
    <%-include('partials/sign-up') %> <% break; case 'sign-in':%>
    <%-include('partials/sign-in') %> <% }%>
  </body>
</html>
