.post-form input,
.post-form textarea {
  width: 100%;
  display: inline-block;
}
.form-btn-container {
  display: flex;
  gap: 0.8em;
  flex-direction: row-reverse;
}
.round-btn {
  padding: 0.2em 0.5em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.form-btn-container > [type="submit"] {
  background-color: rgb(28, 140, 245);
  color: white;
}
.clear-btn {
  background-color: rgb(239, 105, 105);
  color: white;
}
