.pageContainer {
  padding: 1em 3em;
  margin: 1em 5em;
  font-size: 1.3em;
}
.pageContainer h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.link-blue-bold,
.link-blue-bold:visited {
  color: blue;
  font-weight: 800;
}
.log-in-form input {
  width: 100%;
}
.log-in-form {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  background-color: #4f3af6;
  border: none;
  color: white;
  margin-top: 1.5em;
  cursor: pointer;
}
.center {
  text-align: center;
}
.admin input {
  width: fit-content;
  margin-right: 1em;
}
.created-to-view {
  font-size: 1.3em;
  padding: 0.8em 1em;
}
