.pageContainer {
  padding: 1em 3em;
  margin: 1em 5em;
  font-size: 1.3em;
}
.pageContainer h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.link-blue-bold,
.link-blue-bold:visited {
  color: blue;
  font-weight: 800;
}
.log-in-form input {
  width: 100%;
}
.log-in-form {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  background-color: #4f3af6;
  border: none;
  color: white;
  margin-top: 1.5em;
  cursor: pointer;
}
.center {
  text-align: center;
}
.admin input {
  width: fit-content;
  margin-right: 1em;
}
.created-to-view {
  font-size: 1.3em;
  padding: 0.8em 1em;
}
.membership-form {
  max-width: 800px;
  margin: auto;
}
.hint {
  margin: 1em 0;
  text-align: center;
  background-color: rgba(198, 148, 148, 0.199);
  width: 20%;
  margin-left: auto;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.3em 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 500px;
  bottom: 100%;
  left: 50%;
  margin-left: -250px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
